* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-container {
    min-height: 100vh;
}

main {
    flex: 1;
}

.btn-primary {
    background-color: #ffc000 !important;
    border-color: black !important;
    color: black !important;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rating span {
    color: #ffc000;
}

.product {
    border: 1px #404040 solid;
    margin: 1rem;
}

.product img {
    width: 100%;
    max-width: 400px;
}

.product-info {
    padding: 1rem;
}

.img-large {
    width: 100%;
}

.img-thumbnail {
    height: 80px !important;
}

.small-container {
    max-width: 600px !important;
}

.checkout-steps div {
    border-bottom: 0.2rem solid #a0a0a0 !important;
    color: #a0a0a0 !important;
}

.checkout-steps div.active {
    border-bottom: 0.2rem solid #f08000 !important;
    color: #f08000 !important;
}